<html>
<head>
    {% stylesheets 'FirstBundle/Resources/public/css/db.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
</head>
<body>
<table >
    <tr>
        <td>id</td>
        <td>{{ product.id }}</td>
    </tr>
    <tr>
        <td>price</td>
        <td>{{ product.price }}</td>
    </tr>
    <tr>
        <td>description</td>
        <td>{{ product.description }}</td>
    </tr>
    <tr>
        <td>name</td>
        <td>{{ product.name }}</td>
    </tr>

</table>
</body>
</html>